{{define "main"}}
<!--
    <div class="intro" style="align-items: center">
      {{if .Site.Data.homepage.enabled }}
      <img class="image" src='{{ .Site.Data.homepage.img | absURL }}'
	   title="{{	.Site.Data.homepage.img_title }}" width="200px"
	   alt="Author's picture or avatar or logo"/>
      <ul>
        <li class="intro-quote">{{ .Site.Data.homepage.quote }}</li>
      </ul>
      {{end}}
      <p>{{ .Site.Data.homepage.description | markdownify }}</p>
    </div>
-->
    <meta http-equiv="refresh" content="0; url=/about/" />
{{end}}

